In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
 
%matplotlib inline
df=pd.read_pickle('src/data/testA/sample_totalExposureLog.pkl')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1023721 entries, 92190472 to 43955996
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1023721 non-null  int32
 1   request_timestamp  1023721 non-null  int32
 2   position           1023721 non-null  int32
 3   uid                1023721 non-null  int32
 4   aid                1023721 non-null  int32
 5   imp_ad_size        1023721 non-null  int32
 6   bid                1023721 non-null  float64
 7   pctr               1023721 non-null  float64
 8   quality_ecpm       1023721 non-null  float64
 9   totalEcpm          1023721 non-null  float64
dtypes: float64(4), int32(6)
memory usage: 62.5 MB

In [8]:
df['request_day']=df['request_timestamp']//(3600*24)
df.groupby(['aid','request_day']).count().describe()

,id,request_timestamp,position,uid,imp_ad_size,bid,pctr,quality_ecpm,totalEcpm
count,363335.000000,363335.000000,363335.000000,363335.000000,363335.000000,363335.000000,363335.000000,363335.000000,363335.000000
mean,2.817568,2.817568,2.817568,2.817568,2.817568,2.817568,2.817568,2.817568,2.817568
std,5.987182,5.987182,5.987182,5.987182,5.987182,5.987182,5.987182,5.987182,5.987182
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000