In [3]:
import pandas as pd
import numpy as np
# df_log=pd.read_pickle('src/data/testA/totalExposureLog.pkl')
df=pd.read_pickle('src/data/testA/user_data.pkl')
# df=pd.read_pickle('src/data/testA/ad_operation.pkl')
# df=pd.read_pickle('src/data/testA/ad_static_feature.pkl')
# df=pd.read_pickle('src/data/testA/test_sample.pkl')

In [4]:
df

,uid,age,gender,area,status,education,concuptionAbility,os,work,connectionType,behavior,consuptionAbility
0,624218,753,2,523 7589 12527 9019 14605 13489 302 6222 14214...,0,6,1,2,0,4,32612 34406 3413 33059 4275 4667 4561 34051 42...,1
1,271475,601,3,9019 9032 663 12527 14532 2416 2599 1987 9687 ...,13,7,2,2,0,2,4990 4992 3413 33061 4115 4876 2393 34167 3441...,2
2,44439,819,3,12527 14188 9841 9019 14605 6222 9962 6643 172...,13,7,3,2,4,4,3099 4403 34414 431 34415 5108 31686 3240 3229...,3
3,863717,1,2,12527 3435 2398 11069 1292 9019 14605 14348 62...,6,5,3,2,0,2,34293 845 3413 3099 33061 33059 4120 4410 4415...,3
4,1305469,714,3,8928 9019 1540 719 12527 6051 10545 12118 7107...,13,5,3,2,0,2,32612 34289 34406 3413 4275 4410 4561 34051 34...,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1396713,326953,821,2,3836 9594 12527 3435 9931 678 9019 14605 2811 ...,0,6,1,2,0,2,34409 34289 34406 32299 3413 3099 4414 4667 50...,1
1396714,1155349,217,3,9019 13905 5943 10005 10949 12527 1939 10479 4...,0,6,1,2,0,2,2524 34414 34416 4398 32001 34415 32005 2383 3...,1
1396715,379682,787,2,6675 5266 12527 3435 12865 9019 14605 651 6222...,0,6,1,2,0,4,34406 2377 3413 34051 34414 34047 32005 2674 3...,1
1396716,774233,787,3,5266 8246 12527 3435 9019 14605 6222 6643 7260...,0,6,1,2,0,2,34406 34295 32606 32461 3413 4275 4561 4115 50...,1
1396717,776036,287,3,10842 9957 12527 8209 9019 14605 -1 1231 8595 ...,0,6,1,2,0,3,406 3398 15153 29372 15709 41353 42021 14917 2...,1

In [5]:
df.nunique()

uid                  1396718
age                       92
gender                     3
area                  708457
status                   533
education                  8
concuptionAbility          3
os                         4
work                      20
connectionType             5
behavior             1381728
consuptionAbility          3
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396718 entries, 0 to 1396717
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   uid                1396718 non-null  int32
 1   age                1396718 non-null  int32
 2   gender             1396718 non-null  int32
 3   area               1396718 non-null  object
 4   status             1396718 non-null  object
 5   education          1396718 non-null  int32
 6   concuptionAbility  1396718 non-null  int64
 7   os                 1396718 non-null  int32
 8   work               1396718 non-null  object
 9   connectionType     1396718 non-null  int32
 10  behavior           1396718 non-null  object
 11  consuptionAbility  1396718 non-null  int32
dtypes: int32(7), int64(1), object(4)
memory usage: 90.6+ MB

In [7]:
df.describe()

,uid,age,gender,education,concuptionAbility,os,connectionType,consuptionAbility
count,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06
mean,6.983595e+05,5.263470e+02,2.499745e+00,4.779004e+00,2.161956e+00,2.186646e+00,2.817688e+00,2.161956e+00
std,4.031979e+05,2.806423e+02,5.654588e-01,2.086811e+00,8.310177e-01,3.951378e-01,1.025974e+00,8.310177e-01
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,3.491802e+05,3.330000e+02,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00
50%,6.983595e+05,5.360000e+02,3.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
75%,1.047539e+06,7.870000e+02,3.000000e+00,6.000000e+00,3.000000e+00,2.000000e+00,4.000000e+00,3.000000e+00
max,1.396718e+06,9.880000e+02,3.000000e+00,8.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00,3.000000e+00